<!-- header directive -->
<div ng-include="'scripts/directives/header/header.html'"></div>

<div class="container wrapper">

    <div id="confirmBox">
        <div class="message"></div><br>
        <div class="message1"></div>
        <div class="message2"></div>
        <div class="message3"></div><br>

        <span class="button yes">Review</span>
        <span class="button submit">Submit</span>
        <span class="button no">Cancel</span>
    </div>

    <div id="confirmBoxDelete">
        <div class="message"></div>
        <span class="button yes">Yes</span>
        <span class="button no">No</span>
    </div>

    <!--<div class="demo-wrapper">
        <div class="heatmap"></div>
    </div>-->

    <!--<heat-map data="passed_data"></heat-map>-->
    <div class="row">
        <div canvas-area-draw points="dashVM.points" active="dashVM.activePolygon" image-url="dashVM.imageSrc" enabled="dashVM.enabled" palette="dashVM.colorArray"></div>
        <table style="width: 100%;" ng-if="dashVM.currentVideo.project">
            <tr style="width: 100%;">
                <td style="width: 20%;"><span style="color: green"><b>Project:</b></span>{{dashVM.currentVideo.project.clientcode}}({{dashVM.currentVideo.project.clientsId}})</td>
                <td style="width: 17%;"><span style="color: green"><b>Camera:</b></span>{{dashVM.currentVideo.camera.cameracode}}({{dashVM.currentVideo.camera.camerasId}})</td>
                <td style="width: 6%;"><i class="glyphicon glyphicon-camera" style="color:blue;margin-top: 7px;font-size: 20px;cursor:pointer;" ng-click="showCameraImage()" /></td>
                <td style="width: 17%;"><span style="color: green"><b>Video:</b></span>{{dashVM.currentVideo.videoId}}</td>
                <td style="width: 30%;">
                    <!--<input class="form-control" ng-model="dashVM.processed" type="number" min="0" style="max-width: 70px;display:inline-block" numbers-only>
                    <button type="button" class="btn btn-default" ng-if="dashVM.currentVideo.videoId" ng-click="dashVM.fetchStaffOrAllEvents()">{{dashVM.staffOrAll}}</button>-->
                    <button type="button" class="btn btn-default" ng-if="dashVM.currentVideo.videoId" ng-click="dashVM.forwardVideo(-1)">Prev</button>
                    <button type="button" class="btn btn-default" ng-if="dashVM.selectedEvent.length>0 && !dashVM.flag.dataEntry" ng-click="dashVM.createEvent(dashVM.catListWithCodeAndRepeat[0].catcode, true)">Panel</button>
                    <button type="button" class="btn btn-default" ng-if="dashVM.selectedEvent.length>0 && dashVM.flag.dataEntry" ng-click="dashVM.closeDataEntry()">Close</button>
                    <button type="button" class="btn btn-default" ng-if="dashVM.currentVideo.videoId" ng-click="dashVM.forwardVideo(1)">Next</button>
                    <span>({{dashVM.playingVideoPosition}})</span>
                </td>
                <td style="width: 10%;"><span style="color: green"><b>Date:</b></span>{{dashVM.currentVideo.dateOfTheVideo | date:"dd/MM/yyyy"}}</td>
            </tr>
        </table>
        <!--<input ng-model="dashVM.formVideoIdToSubmit">
        <button class="btn btn-default"  style="margin-right: 5px;font-size: 12px;" ng-click="dashVM.submitVideoFromForm()">submit</button>-->
        <div class="col-xs-7" id="v_panel" style="height: 580px;">
            <div class="divCenter" ng-if="!dashVM.currentVideo.videoId">
                Select a video
            </div>
            <li class="list-group-item list-group-item-header">
                <span ng-if="dashVM.currentVideo.videoId" class="pull-left glyphicon glyphicon-cog pointer" ng-click="showSettingDlg()"></span> Video
                <span ng-if="dashVM.currentVideo.videoId" class="pull-right glyphicon glyphicon-plus-sign pointer" ng-click="dashVM.addNewShopper()"></span>
                <span ng-if="dashVM.currentVideo.videoId" class="pull-right" style="padding-right: 10px;">
                        Speed Rate
                <span class="pull-right glyphicon glyphicon glyphicon-upload pointer"  ng-click="dashVM.changeSpeedOfVideo(+0.5)" style="padding-right: 8px;font-size: 16px;"></span>
                <span> {{dashVM.selectedVideoRate}}</span>
                <span class="pull-right glyphicon glyphicon-download pointer" ng-click="dashVM.changeSpeedOfVideo(-0.5)" style="padding-right: 8px;;font-size: 16px;"></span>

                </span>
            </li>
            <ab-video ng-if="globals.user.role == 'admin'" api="dashVM.mediaPlayerApi" ng-init="dashVM.initVideo()" ng-click="dashVM.getCoordinates($event)">
            </ab-video>

            <svg id="svg" style="position: absolute;  background:gray; opacity:0.5; top:0px; left:0px; width:0px; height:0px; pointer-events: none;" ng-init="dashVM.initSVG()"></svg>
        </div>

        <div ng-class="{'col-xs-3': !dashVM.flag.dataEntry, 'col-xs-5': dashVM.flag.dataEntry}">
            <id-events ng-if="!dashVM.flag.dataEntry"></id-events>

            <!-- Widget to enter data -->
            <div ng-if="dashVM.flag.dataEntry" class="data-entry ">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <span class="list-group-item list-group-item-header">{{(dashVM.editedCategory).toUpperCase()}}<span  ng-if="dashVM.selectedEvent.length>0">({{dashVM.selectedEvent[0].frameno}}-{{dashVM.selectedEvent[0].eventId}})</span></span>
                    </div>
                    <div class="panel-body">

                        <ul class="list-group first-row-panel">
                            <li class="list-group-item" ng-repeat="item in dashVM['category'][dashVM.currentCategory]">
                                <div class="col-xs-4">{{item.subCategory}}<span style="color: red;" ng-if="item.isMandatory==1">*</span></div>
                                <div class="col-xs-8" style="text-align:right;">
                                    <!--ng-init="dashVM.form[dashVM.currentCategory][item.subCategory]=item.selectedValue" -->
                                    <span ng-repeat="type in item.type">
										<input type="radio" selected id="{{item.subCategory}}-{{type.icon.name}}"
                                               ng-click="dashVM.onInputClick(type.icon.name,item.subCategory,item,type)"
                                               ng-change="dashVM.onInputChange(type.icon.name,item.subCategory,item,type)"
                                               ng-model="dashVM.form[dashVM.currentCategory][item.subCategory]"

                                               value="{{type.icon.name}}"/>
										<label for="{{item.subCategory}}-{{type.icon.name}}">
                                            <img ng-src="{{type.icon.imageUrl}}" alt="image" class="img-responsive pointer" title="{{type.icon.name}}">
                                        </label>
									</span>
                                </div>
                            </li>
                            <!--ng-if="dashVM.currentCategory == 'Exit Path'"-->
                            <input type="text" class="form-control" ng-change="dashVM.changeComments()" ng-model="dashVM.comments" placeholder="Add Notes/Comments" style="width: 96%;margin: 10px;" maxlength="150" />
                        </ul>

                    </div>
                    <div class="panel-footer">
                        <span class="pull-left" ng-if="dashVM.hasError">
							<span class="text-danger">Few fields are missed(*).</span>
                        </span>
                        <span class="pull-left" ng-if="dashVM.catError">
							<span class="text-danger">Categories are missed</span>
                        </span>
                        <span class="pull-right">
                            <span class="pointer btn btn-success btn-sm" ng-if="dashVM.currentIndexVal > 0"  ng-click="dashVM.backPressed()">Back</span>
                        <span class="pointer btn btn-success btn-sm" ng-click="dashVM.resetValues()">Undo</span>
                        <span class="pointer btn btn-success btn-sm" ng-click="dashVM.saveCategory(false, true,'Add Another SKU')" ng-if="dashVM.currentCategory == dashVM.codesList[2] && dashVM.showAnother">Add another SKU </span>
                        <span class="pointer btn btn-success btn-sm" ng-click="dashVM.saveCategory(false, true,'Add Another Staff')" ng-if="(dashVM.currentCategory == dashVM.codesList[4] || dashVM.currentCategory == dashVM.codesList[5] || dashVM.currentCategory == dashVM.codesList[6]) && dashVM.showAnother">Add another Staff Behaviour</span>
                        <span class="pointer btn btn-danger btn-sm" ng-if="dashVM.selectedCurrCategory" ng-click="dashVM.deleteDataEntry()">{{dashVM.discardRetain}} </span>
                        <span class="pointer btn btn-default btn-sm" ng-click="dashVM.closeDataEntry()">Close </span>
                        <span class="pointer btn btn-primary btn-sm" ng-click="dashVM.saveCategory(false,false,'Save')" ng-if="!(dashVM.currentCategory == dashVM.codesList[2])  || dashVM.editedFlag "> Save</span>
                        <span class="pointer btn btn-success btn-sm" ng-click="dashVM.saveCategory(true,false,'New')" ng-if="(dashVM.currentCategory == dashVM.codesList[2] || dashVM.currentCategory == dashVM.codesList[4] || dashVM.currentCategory == dashVM.codesList[5] || dashVM.currentCategory == dashVM.codesList[6]) && (dashVM.currentLen < dashVM.event.analysis[dashVM.currentCategory].length -1)"> Next</span>
                        <span class="pointer btn btn-success btn-sm" ng-click="dashVM.saveCategory(true,false,'New')" ng-if="!(dashVM.currentCategory == dashVM.codesList[2] || dashVM.currentCategory == dashVM.codesList[3] || dashVM.currentCategory == dashVM.codesList[4] || dashVM.currentCategory == dashVM.codesList[5] || dashVM.currentCategory == dashVM.codesList[6])"> Next</span>
                        <!--ng-hide="dashVM.currentCategory == 'Exit Path'"-->
                        </span>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-xs-2" ng-if="!dashVM.flag.dataEntry">

            <div class="panel panel-default mt-1">

                <div class="panel-heading">
                    <span class="list-group-item list-group-item-header">VIDEO LIST</span>
                </div>
                <div class="panel-body">
                    {{dashVM.videosNoneMsg}}
                    <ul class="list-group  first-row-panel">
                        <li class="list-group-item pointer" ng-repeat="video in dashVM.videos" ng-click="dashVM.openVideo(video, true)" ng-class="{'active-video': video.videoId === dashVM.currentVideo.videoId}">({{video.videoId}}){{video.name}}</li>
                    </ul>

                </div>
                <div class="panel-footer">
                    <span class="pull-right pointer btn btn-warning btn-sm" ng-if="dashVM.currentVideo.videoId" ng-click="dashVM.pauseAnalysis()">Pause </span>
                    <!--<span class="pull-left pointer btn btn-success btn-sm" ng-if="dashVM.currentVideo.videoId" ng-click="dashVM.submitVideo()"> Submit Video</span>-->
                    <span class="pull-left pointer btn btn-success btn-sm" ng-if="dashVM.currentVideo.videoId" ng-click="dashVM.askForConfirmation()"> Submit Video</span>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-2" ng-repeat="catSelects in dashVM.catListWithCodeAndRepeat">
            <li class="list-group-item list-group-item-header">
                {{(catSelects.category).toUpperCase()}}
            </li>
            <ul class="list-group second-row-panel">
                <li class="list-group-item" ng-repeat="event in dashVM.selectedEvent" ng-click="dashVM.createEvent(dashVM.catListWithCodeAndRepeat[0].catcode)">
                    <div class="col-xs-4">{{catSelects.shoporemp}}-{{event.eventId}}</div>
                    <div class="col-xs-8" style="display: inline; text-align:right;">
                        <div ng-repeat="item in event['analysis'][catSelects.catcode]  track by $index" ng-if="catSelects.isrepeats == true">
                            <span ng-repeat="subItem in item  track by $index">
								<img ng-if="dashVM.types[subItem]" ng-src="{{dashVM.types[subItem]}}" class="img-responsive pointer" title="{{subItem}}"/>
							</span>
                        </div>

                        <span ng-repeat="item in event['analysis'][catSelects.catcode]  track by $index" ng-if="catSelects.isrepeats == false">
							<img ng-if="dashVM.types[item]" ng-src="{{dashVM.types[item]}}" class="img-responsive pointer" title="{{item}}"/>
						</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="existingShoppersList" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Existing Shoppers List.</h4>
            </div>
            <div class="modal-body" style="max-height: 400px;overflow-y: auto;">
                <table class="table table-bordered table-condensed">
                    <div ui-grid="dashVM.gridOptions" class="grid" external-scopes="dashVM" ui-grid-selection ui-grid-auto-resize></div>
                </table>

            </div><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="dashVM.showPreviousFramesShoppers()" ng-if="dashVM.previousVideoPosition>0 && !dashVM.loadMorePreviousFrameShoppers">Load Previous</button>
                <button type="button" class="btn btn-default" ng-click="dashVM.selectAlreadyInShopper()" ng-if="dashVM.gridApi.selection.getSelectedRows().length>0">Select Shopper</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="popupCameraImage" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Camera Image</h4>
            </div>
            <div class="modal-body" style="max-height: 400px;overflow-y: auto;">
                <image id="imageUrl" style="height: 315px;" ng-src="{{dashVM.imageUrl}}"></image>
            </div><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="popupSettingDlg" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:20%">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">display setting</h4>
            </div>
            <div class="modal-body" style="max-height: 400px;overflow-y: auto;">

                <h4>Please check display options.</h4>
                <div ng-repeat="item in class_filter">
                    <div class="action-checkbox" style="padding-top:10px;">
                        <input style="width:50%" id="{{item}}" type="checkbox" value="{{item}}" ng-checked="selection.indexOf(item) > -1" ng-click="toggleSelection(item)" />
                        <label style="vertical-align: middle;" for="{{item}}">{{item}}</label>
                    </div>
                </div>

            </div><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div ng-include="'scripts/directives/footer/footer.html'"></div>