<!-- header directive -->
<div ng-include="'scripts/directives/header/header.html'"></div>

<div class="container wrapper">


    <!--<div id="container">TESTING CHART</div>-->
    <div class="row">
        <div class="col-xs-4" id="chart-container-Gender" style="border: 1px solid red;">FusionCharts Gender Break-up</div>
        <!--<div class="col-xs-1"></div>-->
        <div class="col-xs-4" id="chart-container-AgeGroup" style="border: 1px solid red;">FusionCharts Groups</div>
        <!--<div class="col-xs-1"></div>-->
        <div class="col-xs-4" id="chart-container-AgewiseBreakup" style="border: 1px solid red;">FusionCharts AGE-WISE BREAK-UP</div>
    </div>

    <div class="row">
        <div class="col-xs-4"  style="border: 1px solid red;" id="chart-container-Dress">FusionCharts Dress</div>
        <!--<div class="col-xs-3" id="chart-container-AgeGroup">FusionCharts Groups</div>
        <div class="col-xs-1"></div>
        <div class="col-xs-3" id="chart-container-AgewiseBreakup">FusionCharts AGE-WISE BREAK-UP</div>-->
    </div>


</div>
<div ng-include="'scripts/directives/footer/footer.html'"></div>
